<div class="container text-center">
    <h1>About Page</h1>
    <p>We are DevMatch. Our company focuses on creating an exclusive community developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam dolores eos qui nisi! Amet, atque in explicabo rerum et velit, recusandae aliquam, delectus architecto unde minima? Tempora saepe animi, vitae? laboriosaorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, rerum facere laboriosam maiores sint libero, corrupti laudantium sit repudiandae deserunt architecto nam adipisci recusandae. Possimus sint autem neque culpa impedit.</p>
</div>